@font-face {
    font-family: "Build";
    src: url("/assets/fonts/tf2build.ttf");
}

@font-face {
    font-family: "Secondary";
    src: url("/assets/fonts/tf2secondary.ttf");
}

* {
    margin: 0;
    padding: 0;

    font-family: "Build", serif;
}

body {
    background-color: #1E1E1E;
    background-image: url("/assets/Backpack_NewbiDuo_Cup_Participant.png"), url("/assets/Backpack_PURE_League_Intermediate_Division_Participant.png");
    background-size: 128px, 128px;
    background-position: 0, 60px 60px;
    background-repeat: round, round;
    background-attachment: fixed, fixed;
}

.back {
    min-height: 100vh;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.lamp {
    padding: 15px;
    font-size: 60pt;
    font-family: "Secondary", serif;
    border-radius: 15px;
    transition: .3s;
}

.lamp-mute {
    color: #8A797F;
}

.lamp-flash {
    color: #FFFFFF;
    text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px,
                    #FF2D95 0 0 20px, #FF2D95 0 0 30px, #FF2D95 0 0 40px,
                    #FF2D95 0 0 50px, #FF2D95 0 0 75px;
}

.lamp-box {
    border-radius: 15px;
    width: max-content;
    border: 15px solid #8A797F;
    transition: .3s;
}

.lamp-box-mute {
    border-color: #8A797F;
}

.lamp-box-flash {
    border-color: #FFFFFF;
    box-shadow: 0 0 15px 9px rgba(255,45,149,0.79), inset 0 0 15px 9px rgba(255,45,149,0.79);
}

.back-mute {
    background-color: rgba(30, 30, 30, 0.9);
}

.back-flash {
    background-color: rgba(30, 30, 30, 0);
}