@font-face {
    font-family: "Build";
    src: url("/assets/fonts/tf2build.ttf");
}

@font-face {
    font-family: "Secondary";
    src: url("/assets/fonts/tf2secondary.ttf");
}

* {
    margin: 0;
    padding: 0;

    font-family: "Build", serif;
}

body {
    background-color: #1E1E1E;
    background-image: url("/assets/Backpack_NewbiDuo_Cup_Participant.png"), url("/assets/Backpack_PURE_League_Intermediate_Division_Participant.png");
    background-size: 128px, 128px;
    background-position: 0, 60px 60px;
    background-repeat: round, round;
    background-attachment: fixed, fixed;
}

.back {
    min-height: 100vh;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
}

.lamp {
    padding: 15px;
    transition: .3s;
}

.lamp > span {
    font-size: 60pt;
    font-family: "Secondary", serif;
}

.lamp-mute {
    color: #5E575E;
}

.lamp-flash {
    color: #FFFFFF;
    text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px,
                    #FF2D95 0 0 20px, #FF2D95 0 0 30px, #FF2D95 0 0 40px,
                    #FF2D95 0 0 50px, #FF2D95 0 0 75px;
}

.lamp-charge {
    color: #FF2D95;
    text-shadow: #322D34 0 0 20px, #322D34 0 0 30px, #322D34 0 0 40px,
                    #322D34 0 0 50px, #322D34 0 0 75px;
}

.lamp-item {
    transition: .3s;
}

.item-flash {
    color: #FFFFFF;
    text-shadow: #FFF 0 0 5px, #FFF 0 0 10px, #FFF 0 0 15px,
    #FF2D95 0 0 20px, #FF2D95 0 0 30px, #FF2D95 0 0 40px,
    #FF2D95 0 0 50px, #FF2D95 0 0 75px;
}

.item-charge {
    color: #FF2D95;
    text-shadow: #322D34 0 0 20px, #322D34 0 0 30px, #322D34 0 0 40px,
    #322D34 0 0 50px, #322D34 0 0 75px;
}

.lamp-box {
    border-radius: 15px;
    width: max-content;
    border: 15px solid #5E575E;
    transition: .3s;
}

.lamp-box-mute {
    border-color: #5E575E;
}

.lamp-box-flash {
    border-color: #FFFFFF;
    box-shadow: 0 0 15px 9px #FF2D95, inset 0 0 15px 9px #FF2D95;
}

.lamp-box-charge {
    border-color: #FF2D95;
    box-shadow: 0 0 15px 15px #322D34, inset 0 0 15px 15px #322D34;
}

.back-mute {
    background-color: rgba(30, 30, 30, 0.9);
}

.back-flash {
    background-color: rgba(30, 30, 30, 0);
}